python-dotenv
fastapi
uvicorn[standard]
pydantic
psycopg[binary,pool]>=3.1
opentelemetry-sdk
opentelemetry-exporter-otlp-proto-http
opentelemetry-instrumentation-fastapi
opentelemetry-instrumentation-requests
opentelemetry-instrumentation-logging
bittensor==9.10.0
substrate-interface
py-sr25519-bindings
rich
numpy
loguru
google-cloud-storage>=2.16.0
pyyaml
httpx>=0.27.0
aiohttp>=3.10.0
redis>=5.0.1
